* {
  /* border: 1px solid red */
  }

/* ***** GLOBAL RULES ***** */
body {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
/* ***** SIDEBAR ***** */
.sidebar {
  background-color: #1F1F3D;
  font-family: 'Open Sans', sans-serif;
  width: 40em;
  height: 85em;
}
h1 {
  color: #E9E9F3;
}

.line-divider {
  border-bottom: 2px solid;
  border-color: #353567;
}

.filter-title {
  color: #BFBFDD
}

.sidebar-button {
  background-color: #5356A4;
  color:#E9E9F3;
  padding: .5em 1em;
  font-size: 1em;
  font-weight: 700;
  border: none;
}

/* ***** MAIN PAGE ***** */
main {
  width: 119em;
}

/* ***** FORM ***** */
.form-container {
  width: 100%;
  height: 35em;
}  

/* ***** CARD DISPLAY ***** */
.card-display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 47em;
  background-color: #EAEAF4;
}

.card-placement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 76em;
  height: 100%;
  margin-top: 3em;
}

.card-container {
  width: 18em;
  height: 23em;
  margin: 1em 1em;
}


.card-header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
}

.star-inactive,
.card-delete,
.comment-img {
  width: 2em;
}

.body-container {
  height: 16em;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  padding: 1em 0 0 1em;
  border: 2px solid;
  border-color: #1F1F3D;
}

h2 {
  font-weight: bold;
  margin-top: 0;
}

.card-body {
  height: 12em;
  font-size: 1.2em;
}

.comment-container {
  display: flex;
  color: #E9E9F3;
  background-color: #5356A4;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color: #1F1F3D;
}

.comment-tag {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.visibility-hidden {
  display: none; 
}