* {
  /* border: 1px solid red */
  }

/* ***** GLOBAL RULES ***** */
body {
  display: flex;
  margin: 0;
}

/* ***** SIDEBAR ***** */
.sidebar {
  background-color: #1F1F3D;
  font-family: 'Open Sans', sans-serif;
  width: 30em;
  height: 85em;
}

h1,
.filter-title {
  color: #E9E9F3;
  padding-left: 10px;
}

.line-divider {
  border-bottom: 2px solid;
  border-color: #353567;
}

.show-starred,
.show-all {
  background-color: #5356A4;
  color:#E9E9F3;
  margin-left: 10px;
  padding: .5em 1em;
  font-size: 1em;
  font-weight: 700;
  border: none;
}

/* ***** MAIN PAGE ***** */
main {
  width: 81vw;
}

/* ***** FORM ***** */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30em;
  background-color: #A9AAD2;
  font-family: open sans, bold;
}

.title-container,
.form-body-container,
.save-button,
.save-button-validation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #1F1F3D;
  margin-top: 1em;
}

.search-container {
  display: flex;
  margin-top: 2em;
}

.input-title,
.input-body {
  height: 3.5em;
  width: 30em;
  border-radius: 4px;
  border: 2px solid #5356A4;
  font-family: 'Open Sans', sans-serif;
}

label {
  margin-bottom: 1%;
}

.input-body {
  height: 8em;
}

.body-container {
  margin-top: 4%;
}

.save-button,
.save-button-validation {
  align-items: center;
  width: 20.50em;
  height: 2.75em;

  color: #FFFFFF;
  border-radius: 3px;
  border: 2px solid #5356A4;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2em;
  outline: 0;
}

.save-button {
  background-color: #353667;
}

.save-button-validation {
  background-color: #8FBC8F;
  border: none;
  cursor: s-resize;
}

.search-icon {
  height: 1.85em;
  width: 1.7em;
  background-color: #353667;
  padding: 3%;
  border-radius: 3px 0px 0px 3px;
  border: .5px solid #5356A4;
  border-right: none;
}

.input-search {
  border: 2px solid #5356A4;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
  width: 26.5em;
  height: 3.77em;
}

::placeholder {
  font-family: open sans, bold;
  font-size: 16px;
  color: #353667;
  padding-left: 3%;
}

/* ***** CARD DISPLAY ***** */
.card-display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55em;
  background-color: #EAEAF4;
}

.card-placement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 76em;
  height: 100%;
  margin-top: 3em;
  overflow-y: auto;
}

.card-container {
  width: 18em;
  height: 23em;
  margin: 1em 1em;
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
}

.star-inactive,
.card-delete,
.comment-img {
  width: 2em;
}

.body-container {
  height: 16em;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  padding: 1em 0 0 1em;
  margin-top: 0;
  border: 2px solid;
}

h2 {
  font-weight: bold;
  margin-top: 0;
}

.card-body {
  height: 12em;
  font-size: 1.2em;
}

.comment-container {
  display: flex;
  color: #E9E9F3;
  background-color: #5356A4;
  border-right: 2px solid #1F1F3D;;
  border-bottom: 2px solid #1F1F3D;;
  border-left: 2px solid #1F1F3D;;
}

.comment-tag {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.visibility-hidden {
  display: none; 
}
 