 /* * {
  border: 1px solid red
  } */

 /* ***** GLOBAL RULES ***** */
body {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
/* ***** SIDEBAR ***** */
.sidebar {
  width: 40em;
  height: 100%;
}

/* ***** MAIN PAGE ***** */
main {
  width: 119em;
}

/* ***** FORM ***** */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35em;
  background-color: #A9AAD2;
  font-family: open sans;
}

.title-container,
.body-container,
.save-button {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: #1F1F3D
}

.search-container {
  display: flex;
  border-radius: 3px;
  border: 2px solid #5356A4;
}

.input-title,
.input-body {
  margin-top: .5em;
  height: 3.5em;
  width: 30em;
  border-radius: 3px;
  border: 2px solid #5356A4;
}

.input-body {
  height: 8em;
}

.save-button {
  width: 20.50em;
  height: 2.75em;
  background-color: #353667;
  color: #FFFFFF;
  border-radius: 3px;
  border: 2px solid #5356A4;
  font-weight: bold;
  font-size: 20px;
  align-self: center;
}

.search-icon {
  height: 1.65em;
  width: 1.65em;
  background-color: #353667;
  padding: 3%;
  border-radius: 3px;
  border: .5px solid #353667;
}

.input-search {
  width: 25.75em;
  height: 3.5em;
}

::placeholder {
  font-family: open sans, bold;
  font-size: 16px;
  color: #353667;
  padding-left: 3%;
}



/* ***** CARD DISPLAY ***** */
.card-display {
  width: 100%;
  height: 47em;
}
